*{
    position: relative;

    background: #2F303A;
}

/* Add a black background color to the top navigation */
.topnav {
    background-color: #333;
    overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav button {
    background-color: inherit;
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Change the color of links on hover */
.topnav button:hover {
    background-color: #ddd;
    color: black;
}

/* Add a color to the active/current link */
.topnav button.active {
    background-color: #4CAF50;
    color: white;
}

.backButton{
    position: absolute;
    right: 5px;
}

.table {
    flex: 2 0 0;
    border: 1px black solid;
    border-radius: 6px;
    width: 100%;
}
.table th {
    padding: 0% 5% 2% 1%;
    background: lightskyblue;
}
.table tr {
    background: lightsteelblue;
    color: navy;
}
.table tr:hover {
    background: blanchedalmond;
}
.table td {
    height: 40px;
}