*{
    position: relative;

    background: #2F303A;
}

/* Add a black background color to the top navigation */
.topnav {
    background-color: #333;
    overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav button {
    background-color: inherit;
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Change the color of links on hover */
.topnav button:hover {
    background-color: #ddd;
    color: black;
}

/* Add a color to the active/current link */
.topnav button.active {
    background-color: #4CAF50;
    color: white;
}

.backButton{
    position: absolute;
    right: 5px;
}

h1, h3 {
    font-weight: 400;
}
h1 {
    font-size: 32px;
}
h3 {
    color: #1c87c9;
}
.main-block, .info {
    display: flex;
    flex-direction: column;
}
.main-block {
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100%;
    outline: none;
    font-family: Roboto, Arial, sans-serif;
    font-size: 16px;
    color: #eee;
}
form {
    width: 80%;
    padding: 25px;
    margin-bottom: 20px;
}
input, select {
    color: white;
    padding: 5px;
    margin-bottom: 20px;
    background: transparent;
    border: none;
    border-bottom: 1px solid #eee;
}
option {
    color: white;
    border: none;
}
.orderType{
    clear: none;
}
/*
input[type=radio] {
    display: none;
}
label.radio {
    position: relative;
    display: inline-block;
    margin-right: 20px;
    text-indent: 32px;
    cursor: pointer;
}
label.radio:before {
    content: "";
    position: absolute;
    top: -1px;
    left: 0;
    width: 17px;
    height: 17px;
    border-radius: 50%;
    border: 2px solid #1c87c9;
}
label.radio:after {
    content: "";
    position: absolute;
    width: 8px;
    height: 4px;
    top: 5px;
    left: 5px;
    border-bottom: 3px solid #1c87c9;
    border-left: 3px solid #1c87c9;
    transform: rotate(-45deg);
    opacity: 0;
}
input[type=radio]:checked + label:after {
    opacity: 1;
}
*/

input::placeholder {
    color: #eee;
}
input[type=submit] {
    width: 25%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}

/* Table css */
.tableView {
    margin: 0 auto;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 60%;
}

.tableView td, .tableView th {
    border: 1px solid #ddd;
    padding: 8px;
    color: white;
}

.tableView tr:nth-child(even){background-color: #f2f2f2;}

.tableView tr:hover {background-color: #ddd;}

.tableView th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #4CAF50;
    color: white;
}

/* Table css */

.select-item-block, #selectItemForm{
    text-align: center;
}

#select-discounts-block{
    text-align: center;
    width: 100%;
    height: 100%;
    border: solid white 1px;
    color: #eee;
}

#discounts{
    text-align: center;
    width: 60%;
    border: solid white 1px;
    color: #eee;
    height: auto;
    margin: 0 auto;
    padding: 10px;
}

.addItemBtn{
    width: 60%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.discountComp{
    width: 60%;
    border: solid white 1px;
    color: #eee;
    margin: 20px auto;
    padding: 10px;
}

.zone-content{
    color: white;
    text-align: center;
}

#order-summary-submit{
    width: 60%;
    border: solid white 1px;
    color: #eee;
    margin: 20px auto;
    padding: 10px;
}

#order-summary-submit button{
    color: white;
    padding: 14px 20px;
    margin: 9px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.okButton{
    width: 10%;
    background-color: #4CAF50;
}

.cancelButton{
    width: 11%;
    background-color: #8e0909;
}

.boxBorder{
    width: 60%;
    border: solid white 1px;
    color: #eee;
    margin: 20px auto;
    padding: 10px;
}

textarea {
    width: 100%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    resize: none;
}

.basic-store-details{
    width: 60%;
    border: solid white 1px;
    color: #eee;
    margin: 20px auto;
    padding: 10px;
    text-align: center;
}

.store-items-details{
    width: 60%;
    border: solid white 1px;
    color: #eee;
    margin: 20px auto;
    padding: 10px;
    text-align: center;
}

#itemsTable{
    width: 60%;
    border: solid white 1px;
    color: #eee;
    margin: 20px auto;
    padding: 10px;
    text-align: center;
}

.store-list{
    color: white;
    vertical-align: top;
    display: inline-block;
    font-size: 24px;
    border-radius: 14px;
    box-shadow: 3px 0px 3px 1px;
    overflow: auto;
    text-align: left;
}

