* {
  padding: 0px !important;
  margin: 0px;
}
.v1_18 {
  width: 100%;
  height: 1080px;
  background: rgba(47,48,58,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.loadXml {
  color: rgba(249,236,236,1);
  position: absolute;
  font-family: Poppins;
  font-size: 36px;
  opacity: 1;
  text-align: center;

  width: 20%;
  border: solid white 1px;
  color: #eee;
  margin: 20px auto;
  padding: 10px;
  top: 10px;
  right: 5px;
}
.manageAccount {
  width: 429px;
  color: rgba(251,239,239,1);
  position: absolute;
  top: 31px;
  left: 431px;
  font-family: Poppins;
  font-size: 36px;
  opacity: 1;
  text-align: center;
}
.loggedInUsers {
  color: rgba(252,243,243,1);
  position: absolute;
  top: 5px;
  font-family: Poppins;
  font-size: 36px;
  opacity: 1;
  opacity: 1;
  text-align: center;
}
.v1_23 {
  width: 323px;
  height: 780px;
  background: rgba(196,196,196,1);
  opacity: 1;
  position: absolute;
  top: 282px;
  left: 1561px;
  overflow: hidden;
}
.v1_24 {
  width: 100%;
  height: 524px;
  background: rgba(196,196,196,1);
  opacity: 1;
  position: absolute;
  top: 282px;
  left: 64px;
  overflow: hidden;
}
.zonesArea {
  width: 100%;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 235px;
  left: 87px;
  font-family: Poppins;
  font-size: 33px;
  opacity: 1;
  text-align: center;
  border-radius: 5px;
  padding: 20px;
}
.v1_26 {
  text-align: center;
  width: 100%;
  height: 173px;
  opacity: 1;
  position: absolute;
  top: 750px;
  left: 61px;
  color: white;
}

#accountMovementsLabel {
  font-family: Poppins;
  font-size: 36px;
  opacity: 1;
}
#balanceLabel {
  font-family: Poppins;
  font-size: 36px;
  opacity: 1;
}
.table {
  flex: 2 0 0;
  border: 1px black solid;
  border-radius: 6px;
  width: 90%;
}
.table th {
  padding: 0% 5% 2% 1%;
  background: lightskyblue;
}
.table tr {
  background: lightsteelblue;
  color: navy;
}
.table tr:hover {
  background: blanchedalmond;
}
.table td {
  height: 40px;
}

#loadMoney{
  border-radius: 5px;
  padding: 20px;
  position: absolute;
  right: 108px;
  width: 18%;
  border: solid white 1px;
  color: #eee;
  margin: 0px auto;

}
#loadMoney:hover
{
  background-color: #45a049;
}

.usersList {
  color: rgba(0,0,0,1);
  vertical-align: top;
  display: inline-block;
  font-size: 24px;
  margin-left: 1%;
  border-radius: 14px;
  background: antiquewhite;
  box-shadow: -1px 0px 3px 1px;
  overflow: auto;
  text-align: left;
}

.tableAccount{
  width: 74%;
}