#itemAddedTextArea {
         -fx-background-color: transparent

}

#itemAddedTextArea .scroll-pane {
    -fx-background-color: transparent;
}

#itemAddedTextArea .scroll-pane .viewport{
    -fx-background-color: transparent;
}


#itemAddedTextArea .scroll-pane .content{
    -fx-background-color: transparent;
}